<launch>

  <node name="migrave_audio_recorder" pkg="migrave_audio_recorder" type="migrave_audio_recorder.py" output="screen" respawn="true">
  </node>
  <node name="migrave_audio_rode_recorder" pkg="migrave_audio_recorder" type="migrave_audio_rode_recorder.py" output="screen" respawn="true">
  </node>
</launch>
